.Container {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  transition: .2s all;
  
}

.Wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  height: 100%;
}
@media only screen and (max-width: 1200px) {
  .Wrapper {
    width: 100%;
  }
}
.dark {
  --bg-color: #121212;
  --bg-white-color: #000;
  --stroke-color: #222;
  --font-color: #fff;
  --font-desc-color: #ccc;
  --font-desc2-color: #888;
}

.light {
}
