.Container {
  margin: 24px 0;
  width: 100%;
  display: flex;
}
.Container > input {
  flex-grow: 1;
  padding: 0 16px;
  display: flex;
  align-items: center;
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  height: 48px;
  box-shadow: 0px 1px 3px rgba(96, 108, 128, 0.05);
  /* TODO: outline-color: red; */
}

.Container > button {
  margin-left: 16px;
  background-color: var(--bg-white-color);
  box-shadow: 0px 1px 3px rgba(96, 108, 128, 0.05);
  cursor: pointer;
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  font-weight: 500;
  padding: 0 16px;
}

.WriteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
  border: 1px solid var(--stroke-color);
  box-shadow: 0px 1px 3px rgba(96, 108, 128, 0.05);
  background-color: var(--bg-white-color);
  color: black;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  padding: 16px;
}
