/** Container Style */
.Container {
  min-height: 64px;
  position: sticky;
  top: 0;
  background-color: transparent;
  display: flex;
}
.Scrolled {
  box-shadow: inset 0 -1px 0 0 var(--stroke-color);
  background-color: var(--bg-color);
}
.Wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/** TITLE STYLE */
.Title > h3 > a {
  text-decoration: none;
  color: var(--font-color);
}
.Title > h3 > a:hover {
}

/** NAV STYLE */
.Nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.Nav > ul > li + li {
  margin-left: 16px;
}
.Nav > ul > li > a {
  color: var(--font-color);
  text-decoration: none;
}
.Nav > ul > li > span {
  color: var(--font-color);
}
.Nav > ul > li > a:hover {
}

.Switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}
.Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00325c;
  transition: 0.4s;
}
.Slider:before {
  position: absolute;
  content: "🌙";
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  transition: 0.4s;
}
.Switch input:checked + .Slider {
}

.Switch input:focus + .Slider {
}

.Switch input:checked + .Slider:before {
  transform: translateX(24px);
  content: "☀️";
}
/* Rounded sliders */
.Slider.Round {
  border-radius: 34px;
}

.Slider.Round:before {
  border-radius: 50%;
}
.Menu {
  display: none;
}
.DropDown {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .Wrapper {
    width: 100%;
  }
  .Nav {
    display: none;
  }
  .Hamburger {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 20px;
  }
  .Hamburger span {
    width: 100%;
    position: absolute;
    height: 2px;
    transition: 0.2s all ease;
    background-color: var(--font-color);
  }
  .Hamburger span:nth-child(1) {
    transform: translateY(-8px);
  }
  .Hamburger span:nth-child(2) {
    transform: translateY(8px);
  }
  .Hamburger.active span:nth-child(1) {
    opacity: 0;
  }
  .Hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .Hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
  }
  .Hamburger.active span:nth-child(4) {
    transform: rotate(45deg);
  }
  .Menu {
    display: block;
  }
  .DropDown {
    position: absolute;
    transition: 0.2s all;
    width: 100%;
    background-color: transparent;
    top: 64px;
    left: -1200px;
    margin: 0;
    padding: 16px 24px 24px 24px;
    list-style: none;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 -1px 0 0 var(--stroke-color);
  }
  .DropDown.active {
    background-color: var(--bg-color);
    left: 0;
  }
  .DropDown > li > * {
    text-decoration: none;
    color: var(--font-color);
  }
  .DropDown > li {
    display: flex;
    align-items: center;
  }
  .DropDown > li:nth-child(4){
    border-top: 1px solid var(--stroke-color);
    padding-top: 16px;
  }
  .DropDown > li + li {
    margin-top: 16px;
  }
}
